<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCORE</title>
    <link rel="icon" type="image/png" href="../static/share/favicon.ico"/>
    <!-- <link rel="stylesheet" href="../static/score/css/googleapis.css"> -->
    <link rel="stylesheet" href="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/css/googleapis.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/source/vendor/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/source/vendor/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../static/score/css/score.css"> -->
    <link rel="stylesheet" href="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/css/score.css">
    <!-- <link rel="stylesheet" href="../static/score/css/loading.css"> -->
    <link rel="stylesheet" href="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/css/loading.css">
</head>
<body>
    <div class="limiter">
        <div class="container-score">
            <div class="wrap-score">
                <div class="title">
                    <div class="session_hint">
                        <p><span class="translate-innerhtml" la="第">第</span>
                            <select id="session_number" name = "session_number">
                                {% for session in session_list %}
                                    {% if loop.last %}
                                        <option value="{{ session }}" selected>{{ session }}</option>
                                    {% else %}
                                        <option value="{{ session }}">{{ session }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <span class="translate-innerhtml" la="届">届</span>
                        </p>
                        <p class="translate-innerhtml la" la="侦察骑士杯">侦察骑士杯</p>
                    </div>
                    <a href="/" class="translate-innerhtml" la="返回主页">返回主页</a>
                    <div class="logo"></div>
                </div>
                <div class="score-table" id="score-table">
                    <div class="table-title">
                        <select name="choice" id="choice" class="choice">
                        </select>
                        <div class="language">
                            <label>
                                <input type="checkbox" class="language-selection" id="language_selection">
                                <div class="language-btn">
                                    <span class="btn-cn">CN</span>
                                    <span class="btn-en">EN</span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="container">
                        <table class="content" session_number="{{ session_number }}">
                        </table>
                        <ul class="pagination"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- <script src="../static/share/js/dict.js"></script> -->
<script src="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/share/js/dict.js"></script>
<!-- <script src="../static/score/js/translate.js"></script> -->
<script src="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/js/translate.js"></script>
<!-- <script src="../static/score/js/fetch_scores.js"></script> -->
<script src="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/js/fetch_scores.js"></script>
<!-- <script src="../static/score/js/score.js"></script> -->
<script src="https://amber-1-zcqsb.oss-cn-shanghai.aliyuncs.com/static/score/js/score.js"></script>